@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  *{
    padding: 0;
    margin: 0 ;
  }
  /* common styles  */
  .container{
   max-width: 90%;
   margin: 0 auto;
  }
  img{
    width: 100%;
  }
  .color-1{
    color: rgb(232, 103, 11);
  }
  .color-2{
    color: white;
  }
  .color-3{
    color: grey;
  }
  .display-flex{
    display: flex;
  }
  .btn {
    background-color: rgb(232, 103, 11);
    color: white;
    border: none;
    padding: 22px 54px;
    border-radius: 10px;
    font-size: 1rem;
}
  /* navbar styles  */

  .navbar{
    padding: 30px 0;
   
  }
  .navbar ul {
  display: flex;
   justify-content: flex-end;
   align-items: center;
   list-style: none;

 }
  
  .navbar li a{
    text-decoration: none;
 margin-left: 50px;
  }
  /* banner styles  */
  .banner-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    position: relative;
  }
  .banner{
    margin-right: 50px;
  }
  .banner a{
    text-decoration: none;
    
  }
  .banner-title{
    font-size: 4rem;
    font-weight: 400;
  }
  .banner-subtitle{
    font-size: .9rem;
    line-height: 18px;
    margin: 20px 0 20px 0;
  }
  .banner-img {
    height: 679px;
}
 
.banner-img::after {
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  top: 648px;
  left: 1075px;
  border-radius: 50%;
  background-color: rgb(232, 103, 11);
}
.banner-text{
  margin-left: 50px;
}
/* project styles */
.project-section{
  background-color: rgb(209, 212, 214);
}
.project-container {

  padding: 60px 40px;
  margin: 90px 0;
}
.project-title{
  text-align: center;
  margin: 50px 0;
  font-size: 2rem;
}
.card{
  margin: 10px;
  padding: 10px;
 background-color: rgb(240, 240, 234);
 border-radius: 10px;
}
.project-subtitle {
  margin-top: 10px;
}
.project-description {
  margin: 15px 0;
  line-height: 24px;
}
/* work styles */
.work-container {
  justify-content: space-around;
  align-items: center;
  background-image: url(../shapes/Group_33094_1.png);
  width: 100%;
  height: 303px;
  /* margin: 40px 0px 36px 0px; */
  background-size: contain;
  background-repeat: no-repeat;
}
.work-title{
  font-size: 3.5rem;
}

/* footer styles */
.footer-container{
 text-align: center;
}
.footer-title {
  font-size: 1.5rem;
  margin-top: 100px;
}
.footer-subtitle {
  font-weight: 900;
  font-size: 2rem;
  margin: 9px;
}
.footer-icon {
  margin-bottom: 40px;
}
.footer-icon img {
  width: 4%;
  margin-right: 25px;
  text-align: center;
}
/* responsive styles */
@media screen and (max-width:576px) {
  .banner {
    margin-right: 0px;
    text-align: center;
}
  .banner-title {
    font-size: 2rem;
}.banner-subtitle {
  margin: 20px 0 45px 0;
}
.banner-text {
  margin-top: 30px;
  margin-left: 0;
}
  .banner-img::after {
    display: none;
}
.banner-container{
    grid-template-columns: repeat(1,1fr);
}
.project-title {
  margin: 20px 0;
}
.project-container {
  padding: 16px 25px;
  margin: 35px 0;
}
.card-container{
  flex-direction: column;
}
.work-container {
  height: 135px;
}
.work-title {
  font-size: 2.0rem;
}

.footer-icon img {
  width: 8%;
}
.footer-title {
  margin-top: 40px;
}

}
@media screen and (min-width:576px) and (max-width:992px) {

.banner-img::after {
  display: none;
}
}